<template>
  <div class="home">
    <Counter/>
    <Counter/>
    <Counter/>
    <Counter/>
  </div>
</template>

<script>
import Counter from '@/components/Counter';

export default {
  name: 'Home',
  components: { Counter },
}
</script>
