<template>
<div>
  <router-link
    class="link"
    :key="index"
    v-for="(ship, index) in $store.state.ships"
    :to="{name: 'ShowShip', params: {id:index}}"
  >
    {{ ship.name }}
  </router-link>
</div>
</template>

<script>
export default {
  name: 'IndexShip',
};
</script>

<style scoped>
.link {
  display: block;
}
</style>
